{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage" //按需加载 实验性的功能
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
